body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todo-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

h1 {
    margin-top: 0;
    text-align: center;
    color: #333333;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

#addButton {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;

}

li.done {
    text-decoration: line-through;
    opacity: 0.5;
}

.taskSpan {
    display: flex;
    min-width: 657px;
    max-width: 658px;
    margin-right: 300px;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.doneButton {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 15px;
}

.importantButton.important {
    background-color: #cd07ff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #ffffff;
}

.deleteButton {
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 15px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #e63939;
}