<p>{{myDate}}</p>

<p>{{myDate|date}}</p>

<p>{{myDate|date:'short'}}</p>

<p>{{myString|uppercase}}</p>
<p>{{myString|lowercase}}</p>

<p>{{price|currency}}</p>

<p>{{price|currency:'EUR':'symbol':'1.2-2'}}</p>

<p>{{myNum|number:'1.2-2'}}</p>

<p>{{myAnotherNum|percent}}</p>

<p>{{myAnotherNum|percent:'1.2-2'}}</p>

<p>{{myObj|json}}</p>

<hr>
<p>{{myObj|prefix}}</p>
<hr>
<p>{{myString|prefix}}</p>
<p>{{"welcome"|prefix}}</p>
<p>{{myNum|prefix}}</p>

<p>{{myString|prefix:"your"}}</p>

<p>{{myString|prefix:"one":"two"}}</p>


<p>{{myString|prefix:"one":"two":"three"}}</p>